* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}
#content {
  background: #f7f7f7;
  height: 100vh;
}
header {
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  background: black;
  align-self: stretch;
  border-bottom: 2px solid grey;
  -webkit-app-region: drag;
}
.option {
  color: white;
  padding: 5px 20px;
  font-size: 20px;
  -webkit-app-region: no-drag;
}
.option:hover {
  background: rgb(59, 59, 59);
  cursor: pointer;
}
h1,
h3 {
  padding: 15px;
  text-align: center;
}
.preview_container {
  position: relative;
  max-height: fit-content;
  max-width: 90%;
  margin: auto;
}
#preview {  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5px;
}
.chosed_img {
  max-width: 100px;
  margin: 2px;
  border: 1px solid black;
}
.chosed_img:hover {
  transform: scale(2.5);
}
.chosed_img_hover {
  max-width: 100%;
}
.btn_panel {
  margin: 20px;
  display: block;
  text-align: center;
}
.btns {
  background-color: white;
  width: 150px;
  height: 30px;
  border: 1px solid grey;
  border-radius: 10px;
  cursor: pointer;
}
#drag-file:hover {
  background-color: #eceaea;
}
#send-file:hover {
  background-color: #d6ffd5;
}
#usb_title {
  padding: 10px;
  text-align: center;
  display: none;
  }
#list_of_usb {
  text-align: center;
  cursor: pointer;
}
#list_of_usb > p {
  font-size: 12px;
  padding: 5px;
}
#list_of_usb > p::before {
  content: "\261E";
  padding: 5px;
}
#list_of_usb > p:hover {
  color: grey;
}
.processing {
  display: block;
  position: relative;
  height: 350px;
  text-align: center;
  display: none;
}
.overlay_processing {
  display: inline-block;
  background: url("./assets/sprite.png");
  width: 500px;
  height: 330px;
  animation: play 1s steps(8) infinite;
}
@keyframes play {
  0% {background-position: 0}
  100% { background-position: -1300px; }
}